<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Bootstrap 5 Basic Column</Title>
      <Author>VS2026 Professional Snippets</Author>
      <Description>Columna Bootstrap 5.3.3 con tamaños responsive por breakpoint, offset y orden</Description>
      <Shortcut>bs-basic-column</Shortcut>
      <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>xs</ID><ToolTip>Columnas en xs (default)</ToolTip><Default>12</Default>
        </Literal>
        <Literal>
          <ID>sm</ID><ToolTip>Columnas en sm (576px+)</ToolTip><Default>6</Default>
        </Literal>
        <Literal>
          <ID>md</ID><ToolTip>Columnas en md (768px+)</ToolTip><Default>4</Default>
        </Literal>
        <Literal>
          <ID>lg</ID><ToolTip>Columnas en lg (992px+)</ToolTip><Default>3</Default>
        </Literal>
      </Declarations>
      <Code Language="HTML"><![CDATA[<!-- Columna Bootstrap 5.3.3 - Sistema de 12 columnas -->
<div class="col-$xs$ col-sm-$sm$ col-md-$md$ col-lg-$lg$">
  $end$
</div>]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
